<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <!--TODO: divide into sections -->
      <!--  Main settings -->
      <add key="Host" value="localhost" />
      <add key="Port" value= "9999" />
      <add key="DefaultDir" value="~/" />
      <add key="FaviconPath" value="img/favicon.ico" />
      <add key="IndexHtmlPath" value="html/index.html" />
      <add key="CssPath" value="css/style.css" />
      <add key="JsPath" value="js/script.js" />
      <add key="LogJournalPath" value="LogJournal" />
      <add key="ClientLimit" value="10" />
      <add key="MessageBytesSize" value="1024" />
      <add key="BackButtonRegexPattern" value="[^/]*/?$" />    
         
      <!--  Error dicionary -->
      <add key="1" value= "Not enough permissions to access the directory" />
      <add key="2" value= "Wrong address, please, check url." />
      <add key="3" value= "Internal server error" />
   </appSettings>
</configuration>